* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: clamp(40%, 1% + 2vw, 62.5%);

  --ff-primary: 'Roboto', sans-serif;
  --neutral-colors-white: #FFFFFF; 
  --text-color: #E1E1E6;

  --button-color: #065E7C;
  --input-bg-color: #06181C;
  --no-favorites-bg-color:#030B0D;
  --title-no-favorites-color:#4E5455;
  --platform-placeholder-color:#7C7C8A;
  --border-tr-color:#4A808C;;
  
  --hue: 194;
  --primary-color: hsl(var(--hue), 72%, 13%);
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: #000;
}

body * {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  padding: 2rem;
  max-width: 1120px;
  margin: 0 auto;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 11.5rem 0rem 8.7rem;
}

header img {
  max-width: 18.6rem;
  max-height: 3.2rem;
}

/* SEARCH */
.search {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}


.search input {
  width: 46.2rem;
  height: 4.8rem;
  padding: 1.6rem;

  border: 1px ;
  border-radius: 0.5rem;
  color: var(--platform-placeholder-color);
  background-color: var(--input-bg-color);
}

.search button {
  background-color: var(--button-color);
  border-radius: 5px;
  border: none;
  
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: var(--neutral-colors-white);
  
  display: flex;
  padding: 1.2rem 3.2rem;
  align-items: center;
  text-align: center;
  gap: 0.8rem;

  cursor: pointer;
  text-transform: uppercase;
  transition: 290ms;
}

.search button:hover {
  background-color: var(--text-color);
  color: var(--button-color);
}

.search button:hover svg path{
  fill: var(--button-color);
}

.search button:active{
  background-color: var(--button-color);
}


/* TABLE */

table * {
  font-size: 2rem;
  font-weight: 700;
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;

  border-radius: 1.2rem;
}


table tr:nth-child(even) {
  background: var(--input-bg-color);
}
table tr:nth-child(even):hover {
  background: var(--no-favorites-bg-color);
}
table tr:nth-child(odd) {
  background: var(--no-favorites-bg-color);
}
table tr:nth-child(odd):hover{
  background-color: var(--input-bg-color);
}


table th {
  background: var(--primary-color);
  text-align: left;
  padding: 1.5rem; 
}

table th:nth-child(1){
  padding-left: 2.2rem;
}

table th:first-child {
  border-top-left-radius: 1.2rem;
}
table th:last-child {
  border-top-right-radius: 1.2rem;
}








tr + tr {
  border: 1px solid var(--border-tr-color) ;
}

table td {
  padding: 1.5rem;
  text-align: left;
}


td.user {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 2.4rem 2.4rem 2.4rem 4rem;
}


td.repositories,
 .followers,
 .action,
 .remove{
  padding: 2.4rem 2.4rem 2.4rem 4rem;
}

td.user img {
  width: 5rem;
  height: 5rem;

  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  color: var(--text-color);
  text-decoration: none;
}

td.user a p {
  font-weight: bold;
}

td.user span{
  font-weight: 400;
}


td.repositories,
td.followers,
td.remove {
  text-align: center;
}

tr th:nth-child(2),
tr th:nth-child(3),
tr th:nth-child(4) {
  text-align: center;
}

td .remove {
  background: none;
  border: none;

  color: red;
  cursor:pointer;
}


/* MAIN */
main{
  background-color: var(--no-favorites-bg-color);

  overflow: hidden;
  border-radius: 1.2rem;
  border: 1px solid #4A808C;
}

.no-favorites{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;

  height: 62.4rem;
}

.no-favorites img{
  width: 132px;
  height: 125px;  
}

.no-favorites p{
  color: var(--title-no-favorites-color);

  font-family: 'Roboto Mono', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
  line-height: 2.4rem;
}